<hello name="{{ name }}"></hello>


<table>
    <th>Properties/Methods</th>
    <th>Output</th>

<tr>
  <td>
    <button (click)="lengthof()"> length of </button>
  </td>
  <td>
    {{ myarrayoutput.lengthof }}
  </td>
</tr>
<tr>
  <td>
    <button (click)="ElementAccess()" > ElementAccess</button>
  </td>
  <td>
     {{ myarrayoutput.ElementAccess }} 
  </td>
</tr>
<tr>
  <td>
    <button (click)="foreachaccess()" > foreachaccess</button>
  </td>
  <td>
     {{ myarrayoutput.foreachaccess }} 
  </td>
</tr>
<tr>
  <td>
    <button (click)="forloop()" > forloop</button>
  </td>
  <td>
     {{ myarrayoutput.forloop }} 
  </td>
</tr>
<tr>
  <td>
    <button (click)="arrayconcat()" > arrayconcat</button>
  </td>
  <td>
     {{ myarrayoutput.arrayconcat }} 
  </td>
</tr>
<tr>
  <td>
    <button (click)="join()" > join</button>
  </td>
  <td>
     {{ myarrayoutput.join }} 
  </td>
</tr>
<tr>
  <td>
    <button (click)="Simplefilter()" > Simplefilter</button>
  </td>
  <td>
     {{ myarrayoutput.Simplefilter }} 
  </td>
</tr>
<tr>
  <td>
    <button (click)="indexOf()" > indexOf</button>
  </td>
  <td>
     {{ myarrayoutput.indexOf }} 
  </td>
</tr>
<tr>
  <td>
    <button (click)="LastindexOf()" > LastindexOf</button>
  </td>
  <td>
     {{ myarrayoutput.LastindexOf }} 
  </td>
</tr>
<tr>
  <td>
    <button (click)="toStrings()" > toString</button>
  </td>
  <td>
     {{ myarrayoutput.toStrings }} 
  </td>
</tr>
<tr>
  <td>
    <button (click)="toLocaleStrings()" > toLocaleString</button>
  </td>
  <td>
     {{ myarrayoutput.toLocaleStrings }} 
  </td>
</tr>
<tr>
  <td>
    <button (click)="pop()" > pop</button>
  </td>
  <td>
     {{ myarrayoutput.pop }} 
  </td>
</tr>
<tr>
  <td>
    <button (click)="push()" > push</button>
  </td>
  <td>
     {{ myarrayoutput.push }} 
  </td>
</tr>
<tr>
  <td>
    <button (click)="reverse()" > reverse</button>
  </td>
  <td>
     {{ myarrayoutput.reverse }} 
  </td>
</tr>
<tr>
  <td>
    <button (click)="shift()" > shift</button>
  </td>
  <td>
     {{ myarrayoutput.shift }} 
  </td>
</tr>
<tr>
  <td>
    <button (click)="slice()" > slice</button>
  </td>
  <td>
     {{ myarrayoutput.slice }} 
  </td>
</tr>
<tr>
  <td>
    <button (click)="sort()" > sort</button>
  </td>
  <td>
     {{ myarrayoutput.sort }} 
  </td>
</tr>
<tr>
  <td>
    <button (click)="splicedelete()" > splicedelete</button>
  </td>
  <td>
     {{ myarrayoutput.splicedelete }} 
  </td>
</tr>
<tr>
  <td>
    <button (click)="splicedeleteinsert()" > splicedeleteinsert</button>
  </td>
  <td>
     {{ myarrayoutput.splicedeleteinsert }} 
  </td>
</tr>
<tr>
  <td>
    <button (click)="unshift()" > unshift</button>
  </td>
  <td>
     {{ myarrayoutput.unshift }} 
  </td>
</tr>
<tr>
  <td>
    <button (click)="every()" > every</button>
  </td>
  <td>
     {{ myarrayoutput.every }} 
  </td>
</tr>
<tr>
  <td>
    <button (click)="some()" > some</button>
  </td>
  <td>
     {{ myarrayoutput.some }} 
  </td>
</tr>
<tr>
  <td>
    <button (click)="map()" > map click count |  {{mapclickcount}} </button>
  </td>
  <td>
     {{ myarrayoutput.map }} 
  </td>
</tr>
<tr>
  <td>
    <button (click)="reduce()" >reduce </button>
  </td>
  <td>
     {{ myarrayoutput.reduce }} 
  </td>
</tr>
<tr>
  <td>
    <button (click)="reducenumber()" >reducenumber </button>
  </td>
  <td>
     {{ myarrayoutput.reducenumber }} 
  </td>
</tr>
<tr>
  <td>
    <button (click)="reduceright()" >reduceright </button>
  </td>
  <td>
     {{ myarrayoutput.reduceright }} 
  </td>
</tr>

</table>
